[submodule "spring-mvc-demo"]
	path = spring-mvc-demo
	url = ./spring-mvc-demo/
[submodule "spring-demo-annotations"]
	path = spring-demo-annotations
	url = ./spring-demo-annotations/
[submodule "spring-demo-one"]
	path = spring-demo-one
	url = ./spring-demo-one/
